<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
   </br>
   </br>
   
   

    <!-- Main Content -->
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <% @post.each do |post| %>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <small><i class="fa fa-tags"></i> <%= post.tags %> <time><%= post.created_at.strftime("%b %d, %y")%></time></small>
                    <a href=<%= user_post_url(user_id: post.user_id, id: post.id) %> class="anchor">
                        <h2 class="post-title posts">
                            <%= post.title %>
                        </h2>
                        <p class="post-con-home text-justify"><%= truncate post.content.html_safe, length:1000, :escape => false %></p>
                    </a>
                    <p class="post-meta">Posted by <%= link_to post.user.email, user_posts_url(post.user.id) %> on <%= post.created_at.strftime("%Y-%m-%d")%></p>
                    </div>
                </div>
                <% end %>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    <hr>