<div class="col-md-6 col-md-offset-3">
    <div class="well">
        <h2>Create New Blog Post</h2>
        <%= form_for @post, url: user_post_url(user_id: params[:user_id],id: params[:id]) do |f| %>
                  <%= f.label :title %>
                  <%= f.text_field :title, class:'form-control'%>
                  <%= f.label :content %>
                  <%= f.text_area :content, rows: "7", class:'form-control'%>
                  <%= f.label :tags %>
                  <%= f.select :tags,['Health', 'Engineering', 'Food'],{}, class:'form-control dropdown-toggle'%>
                  </br>
                  <%= f.label :status %>
                  <%= f.select :status,['Published', 'Draft'],{}, class:'form-control'%>
                  </br>
        <%= f.submit 'Update Post', class: 'btn btn-primary'%>
        <% end %>
    </div>
</div>