<div class="col-md-12">
    
        <h2>Create New Blog Post</h2>
        <%= form_for @post, html:{class: 'form-group'},url: user_posts_url do |f| %>
                  
                  <%= f.text_field :title,autofocus: true, placeholder: "Title",autocomplete: "off", class:'form-control create-posts'%>
                  <%= f.label :content %>
                  <%= f.text_area :content, rows: "40", class:'form-control ckeditor create-posts', placeholder: "Content"%>
                  <%= f.label :tags %>
                  <%= f.select :tags,['Health', 'Engineering', 'Food'],{}, class:'form-control dropdown-toggle create-posts'%>
                  </br>
                  <%= f.label :status %>
                  <%= f.select :status,['Published', 'Draft'],{}, class:'form-control create-posts'%>
                  </br>
        <%= f.submit 'Create Posts', class: 'btn btn-primary'%>
        <% end %>
  
</div>